.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.carousel{
  width: 80%;
  height: 60%;
  margin: auto;
}

.carousel-inner > .item > img {
  width:640px;
  height:360px;
}