.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.carousel{
  width: 80%;
  height: 60%;
  margin: auto;
}

.caption{
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  color: black;
}

.rowHead{
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.rowSection{
  background-color: white;
}

.rowPar{
  font-family: 'Yantramanav', sans-serif;
}

.footerAtt{
  font-family: 'Yantramanav', sans-serif;
  text-align: center;
}