
<body>
<div id="con">
        <div class="text-center" id="content">
            <h1> About Us</h1>
            <p>The Collabera brothers emigrated from Greece in the early 1970s with the hopes of success. Their strong unity cultivated ideas, love for one another, and inspiration. Together they opened their first location in New Jersey during 1972. By 1981 the brothers owned five restaurants. It was during that period the famous pizza recipe was founded at the Brothers Pizza location in Lakeville, CT. Quite rapidly, their reputation and knowledge of making flavorful recipes grew. Brothers Pizza became an immediate success! Since then, the brothers have been accommodating to customers needs by offering unique tastes, consistency, and exceptional service.

            The year was 1976. It was the collaboration of the four brothers that gave way to the name  Brothers Pizza and its continuing success. During that same year, the famous Italian salad dressing recipe was formulated. Since then the brothers expanded their portfolio of restaurants to 9 Four Brothers while adding The Boathouse in Lakeville, CT. The family uses their local farm to supply the restaurants with certain dairy products and their olive orchards in Greece for olive oil. Today, people throughout The Tri-State area have discovered from personal experience that the best pizza and salads, among other delicious menu items, is to be found at your local Four Brothers location.</p>
        </div>
</div>
</body>

<img src="../../assets/images/TimeLine.png" class="center">

<footer>
    <div id="footer" style="text-align: center;">
            <b>2% OF ALL OF THE PROCEEDS GO TO <a href="https://www.stjude.org/donate/donate-to-st-jude.html?sc_dcm=236375153&sc_cid=kwp70587&source_code=IIQ181010008&ef_id=Cj0KCQjw5MLrBRClARIsAPG0WGxLziUMvW81AKuyvaIS_wDo4mu8z7GpVPqk41YxCSPghl2K-db4hLwaAkMBEALw_wcB:G:s&s_kwcid=AL!4519!3!336377235014!e!!g!!st.jude%20research%20hospital&gclid=Cj0KCQjw5MLrBRClARIsAPG0WGxLziUMvW81AKuyvaIS_wDo4mu8z7GpVPqk41YxCSPghl2K-db4hLwaAkMBEALw_wcB" target="_blank">St. Jude Hospital</a>. Thank you!</b>
  </div>
</footer>
