#footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

h1 {
  font-family: fantasy !important;
  color: #FF0D00 !important;
  outline-style: solid !important;
  text-align: center !important;
  margin-top: 10px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

p {
  color: rgb(65, 60, 5) !important;
  outline-style: solid !important;
  text-align: center !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

b {
  color: black !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

a:hover:not(.active) {
  background-color: goldenrod !important;
}
.active {
  background-color: #FF0D00 !important;
}

