body {
    background-color: #383838 !important;
}
footer{
  color: #FF0D00;
}

nav {
    margin: 0;
    padding: 5;
    overflow: hidden;
    background-color: black;
    
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
   
    

    nav a{
    color: white;
    text-align: center;
    padding: 21px 19px;
    text-decoration: none;
    float: left;
    border-right:2px solid #bbb;

    }

a:hover:not(.active) {
    background-color: #FFED18;
  }
.active , .dot:hover{
    background-color: #FF0D00;
  }
  
  .toTheRight{
    float: right !important;
    width:  35px;
    height: 35px;
    position: relative;
    right: 50px;
}


  
h1 {
    border-style: solid !important;
    border-width: 5px !important;
    border-left-width: 10px !important;
    border-right-width: 10px !important;
    border-color: red !important;
    background-color:red !important;
    font-size: 60px !important;
}
h2{
  color: black;
}
img{
    /*style ="width:128px;height:128px;" */
}

/* Slideshow container */
.slideshow-container {
  max-width: 100px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 750px;
  height: 550px;
  box-sizing:border-box;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 5s;
}

@-webkit-keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: black;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.timer {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  color: #FF0D00;
}