body {
  background-color: #383838;
}

/* Change header color, added border with backround and change font + font size */
h1{
	color:#FF0D00;
	border-style: solid;
	border-color: #FF0D00;
	border-width: 5px;
	background-color: #FFED18;
	font-family: "Arial Black", Gadget, sans-serif;
	 font-size: 400%;
	
}

.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
	
	border-style: solid;
	border-color: #FF0D00;
	border-width: 5px;
}




/* Hide the browser's default checkbox */

/*
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  text-align: center;
}
*/
/* Create a custom checkbox */



/* On mouse-over, add a grey background color */
/*
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
*/

/* When the checkbox is checked, add a blue background */
/*.container input:checked ~ .checkmark {
  background-color: #2196F3;
}
*/



input[type="radio"] {
    display:none;
	
}

input[type="radio"] + label {
    color:#f2f2f2;
    font-family:Arial, sans-serif;
	
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px top no-repeat;
}

/*This is for the button shadow affect for continue shopping

*/
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 18px 12px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover{
  background-color: blue; 
}



nav {
  margin: 0;
  padding: 5;
  overflow: hidden;
  background-color: black;
  z-index:1;
  position: fixed;
  top: 0;
  width: 100%;
}
 
  

  nav a{
  color: white;
  text-align: center;
  padding: 21px 19px;
  text-decoration: none;
  float: left;
  border-right:2px solid #bbb;

  }

a:hover:not(.active) {
  background-color: #FFED18;
}
/*.active {
  background-color: #FF0D00;
}
*/

.toTheRight{
  float: right;
  width:  35px;
  height: 35px;
  position: relative;
  right: 50px;
}

