
    
    @import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);
    body{
    font-family: 'Open Sans', sans-serif;
    }
    
.popup-box {
   background-color: #FF0D00;
    border: 1px solid #FF0D00;
    bottom: 0;
    display: none;
    height: 415px;
    position: fixed;
    right: 70px;
    width: 300px;
    font-family: 'Open Sans', sans-serif;
}

.round.hollow {
    margin: 40px 0 0;
}

/*hollow oval for chat box retrieval*/
.round.hollow a {
    border: 2px solid #FFED18;
    border-radius: 35px;
    color: red;
    color: #FFED18;
    font-size: 23px;
    padding: 10px 21px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    
    
}

/*hover - hollow oval for chat box retrieval*/
.round.hollow a:hover {
    border: 2px solid #000;
    border-radius: 35px;
    color: red;
    color: #000;
    font-size: 23px;
    padding: 10px 21px;
    text-decoration: none;
}
.popup-box-on {
    display: block !important;
}
/* top of chat box (pizza bro box*/
.popup-box .popup-head {
    background-color: #FF0D00;
    clear: both;
    color: #FFED18;
    display: inline-table;
    font-size: 21px;
    padding: 7px 10px;
    width: 100%;
    font-family: Oswald;
}

/* top of chat box (pizza bro box when hovered*/
.popup-box .popup-head:hover {
    background-color: #FF0D00;
    clear: both;
    color: #000;
    display: inline-table;
    font-size: 21px;
    padding: 7px 10px;
    width: 100%;
     font-family: Oswald;
}


.bg_none i {/*bottom of box icons*/ 
    border: 1px solid #FFED18;
    border-radius: 25px;
    color: #FFED18;
    font-size: 17px;
    height: 33px;
    line-height: 30px;
    width: 33px;
}
.bg_none:hover i {/*bottom of box icons - hovered*/
    border: 1px solid #000;
    border-radius: 25px;
    color: #000;
    font-size: 17px;
    height: 33px;
    line-height: 30px;
    width: 33px;
}
.bg_none {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
/*pop up box for cog*/
.popup-box .popup-head .popup-head-right {
    margin: 11px 7px 0;
}
/*
.popup-box .popup-messages {
}*/


.popup-head-left img {
    border: 1px solid #7b7b7b;
    border-radius: 50%;
    width: 44px;
}
/*type  message box*/
.popup-messages-footer > input {
    border-bottom: 1px solid #FFED18 !important;
    height: 34px !important;
    margin: 7px;
    padding: 5px !important;
     border: medium none;
    width: 95% !important;
}
/*
.popup-messages-footer {
    background: #FF0D00 none repeat scroll 0 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}
*/


.popup-messages-footer .btn-footer {
    overflow: hidden;
    padding: 2px 5px 10px 6px;
    width: 100%;
}

/*
.simple_round {
    background: #d1d1d1 none repeat scroll 0 0;
    border-radius: 50%;
    color: #FF0D00 !important;
    height: 21px;
    padding: 0 0 0 1px;
    width: 21px;
}

*/


/*background color to message area*/
.popup-box .popup-messages {
    background: #383838 none repeat scroll 0 0;
    height: 275px;
    overflow: auto;
}
/*left side - time*/
.direct-chat-messages {
    overflow: auto;
    padding: 10px;
    transform: translate(0px, 0px);    
}
/*
.popup-messages .chat-box-single-line {
    border-bottom: 1px solid #FF0D00;
    height: 12px;
    margin: 7px 0 20px;
    position: relative;
    text-align: center;
}
*/  
.popup-messages abbr.timestamp {
    background: #FFED18 none repeat scroll 0 0;
    color: #FFED18;
    padding: 0 11px;
}

.popup-head-right .btn-group {
    display: inline-flex;
	margin: 0 8px 0 0;
	vertical-align: top !important;
}
/*circle around icons*/
.chat-header-button {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #FFED18;
    border-radius: 50%;
    font-size: 14px;
    height: 30px;
    width: 30px;
}
.popup-head-right .btn-group .dropdown-menu {
    border: medium none;
    min-width: 122px;
	padding: 0;
}
/*drop down menu in header*/
.popup-head-right .btn-group .dropdown-menu li a {
    font-size: 12px;
    padding: 3px 10px;
	color: #FF0D00;
}
/*date stamp box*/
.popup-messages abbr.timestamp {
    background: #FF0D00  none repeat scroll 0 0;
    color: #fff;
    padding: 0 11px;
}

.popup-messages .chat-box-single-line {
    border-bottom: 1px solid #FF0D00;
    height: 12px;
    margin: 7px 0 20px;
    position: relative;
    text-align: center;
}
/*time stamp color*/
.popup-messages .direct-chat-timestamp {
    color: #fff;
    opacity: 0.6;
}

.popup-messages .direct-chat-text {
    background: #FF0D00 none repeat scroll 0 0;
    border: 1px solid #dfece7;
    border-radius: 2px;
    color: #FF0D00;
}

.popup-messages .direct-chat-timestamp {
    color: #fff;
    opacity: 0.6;
}

/*customer rep test color*/
.popup-messages .direct-chat-name {
	font-size: 15px;
	font-weight: 600;
	margin: 0 0 0 49px !important;
	color: #fff;
	opacity: 0.9;
}
/*reply (Customer) name color*/
.direct-chat-reply-name {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 0 10px;
    opacity: 0.9;
    float: right;
}

/*time stamp size*/
.popup-messages .direct-chat-info {
    display: block;
    font-size: 12px;
    margin-bottom: 0;
}

.popup-messages  .big-round {
    margin: -9px 0 0 !important;
}
/*color around big circle/image circle*/
.popup-messages  .direct-chat-img {
    border: 1px solid #fff;
	background: #FF0D00  none repeat scroll 0 0;
    border-radius: 50%;
    float: left;
    height: 40px;
    margin: -21px 0 0;
    width: 40px;
}

/* reply box */
.direct-chat-img-reply-small
{
    border: 0px solid #fff;
    border-radius: 10%;
    float: left;    
    height: 20px;
    margin: 0 8px;
    width: 250px;
    background:#383838;
    
}
.direct-chat-text::after, .direct-chat-text::before {
    border-color: transparent #dfece7 transparent transparent;
    
}
#imagebg{
    background: url("../images/BrickPizza.png")   
}
.popup-messages .direct-chat-msg {
    margin-bottom: 10px;
    position: relative;
}


/*text in box*/
.popup-messages .direct-chat-text {
    background: #dfece7 none repeat scroll 0 0;
    border: 1px solid #dfece7;
    border-radius: 2px;
    color: #1f2121; 
}

/*message box width?*/   
.direct-chat-text {
    background: #d2d6de none repeat scroll 0 0;
    border: 1px solid #d2d6de;
    border-radius: 5px;
    color: #afcccc; 
   
    margin: 5px 0 0 50px;
    padding: 5px 10px;
    position: relative;
}





/*
.popup-messages .doted-border::after {
	background: transparent none repeat scroll 0 0 !important;*/
   /* border-right: 2px dotted #fff !important;*/
	/*bottom: 0;
    content: "";
    left: 17px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 2px;
	display: inline;
	z-index: -2;
}
*/
/*
.popup-messages .direct-chat-msg::after {
    background: #fff none repeat scroll 0 0;
    border-right: medium none;
    bottom: 0;
    content: "";
    left: 170px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 2px;
	 display: inline;
	  z-index: -2;
}*/

/*
.direct-chat-text::after, .direct-chat-text::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #d2d6de transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: medium;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 15px;
    width: 0;
}
.direct-chat-text::after {
    border-width: 4px;
    margin-top: -4px;
}
*/
