body { background: #383838; }

table { 
    border-collapse: collapse;
    margin-left:auto;
    margin-right: auto;
}

th {
    font-family: fantasy;
    background-color: #FF0D00;
}

td {
    background-color: #FFED18;
}

table, th, td {
    border: 1px solid #FF0D00;
}

th, td {
    padding: 15px;
    text-align: left;
}

.map{
    border-style: solid;
    
    border-width: thick;
    
}

nav {
    margin: 0;
    padding: 5;
    overflow: hidden;
    background-color: black;
    
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1 !important;
}
   
    

    nav a{
    color: white;
    text-align: center;
    padding: 21px 19px;
    text-decoration: none;
    float: left;
    border-right:2px solid #bbb;

    }

a:hover:not(.active) {
    background-color: #FFED18;
  }
.active {
    background-color: #FF0D00;
  }
  
  .toTheRight{
    float: right;
    width:  35px;
    height: 35px;
    position: relative;
    right: 50px;
}

#map {
      height: 50%;
    }
    
html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
