/* You can add global styles to this file, and also import other style files */
.btn{
  color: aliceblue;
  background: rgb(122, 8, 8);
}

.btn-outline-primary{
  background: rgb(122, 8, 8);
}

body{
  background-color: rgb(91, 238, 91);
}

.nav{
  background-color: gray;
}


.badge-primary {
  background-color: firebrick;
}

.bg {
  background-color: rgb(122, 8, 8);
}


a:hover:not(.active) {
    background-color: #FFED18;
  }
.active {
    background-color: #FF0D00;
  }
  
  .toTheRight{
    float: right;
    width:  35px;
    height: 35px;
    position: relative;
    right: 50px;
}

h1 {
    border-style: solid;
    border-width: 5px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: red;
    background-color:red;
    font-size: 60px;
}
=======
.bg2 {
  background-color: lightslategrey;
}

.textcolor {
  color: aliceblue;
}


