/* You can add global styles to this file, and also import other style files */
.btn{
  color: aliceblue;
  background: rgb(122, 8, 8);
}

.btn-outline-primary{
  background: rgb(122, 8, 8);
}

body{
  background-color: rgb(91, 238, 91);
}

.nav{
  background-color: gray;
}


.badge-primary {
  background-color: firebrick;
}

.bg {
  background-color: rgb(122, 8, 8);
}


